<nav class="shadow-md flex py-4 px-8">
  <div class="flex flex-1 items-center" style="min-width: 260px">
    <i
      class="fe fe-bar border border-slate-300 rounded-full px-3 py-2"
      style="font-size: 1.5em"
    ></i>
    <h1 class="text-2xl ml-2">Gpt Translate</h1>
  </div>
  <div>
  <div class="flex flex-2 justify-end">
    <i
      class="fe fe-user border border-slate-300 rounded-full px-3 py-2"
      style="font-size: 1.5em"
    ></i>
  </div>
</nav>
